@font-face {
  font-family: "C64";
  src: url("./C64_Pro_Mono-STYLE.ttf");
}

body {
  font-family: "C64";
  background-color: black;
  color:white;
  margin:0;
}

#siteTitle {
	text-align: center;
}

.uiContainer {
  float:left;
  margin-left:2%;
  padding:1em 0.5em;
  border:2px solid grey;
}

#currentStatus {
	width: 42%;
}

#actions, #passengers {
	width:20%;
}

.secTitle {
  font-size:1.2em;
}

#backgroundImage {
  background-image: url('../images/rotatingbackground.jpg');
  background-size: cover;
  background-repeat: repeat-x;
  background-position: right;
  overflow: hidden;
  height: 50vh;
  width: 100vw;
}

#cityImage {
  object-fit: cover;
  height: 50vh;
  width: 100vw;
}

#description {
  padding-top:1em;
}

#elCamino {
  float: right;
  padding-top: 33vh;
  padding-right: 2vw;
  height: 12vh;
}

#notification {
  box-sizing: border-box;
  display:none;
  height:824px;
  width:840px;
  padding-left:500px;
  padding-right:150px;
  padding-top:200px;
  background-image: url('../images/hipster-hand.png');
  position:absolute;
  top:50px;
  left:150px;
}
.loss {
  color: red;
}

.action {
  cursor: pointer;
  padding:0.5em;
  margin-bottom: 0.5em;
  border: 1px solid red;
}

.action span:hover {
  background-color: #fff59b;
}
