#backgroundImage {
  background-image: url('../images/rotatingbackground.jpg');
  background-size: cover;
  background-repeat: repeat-x;
  overflow: hidden;
  height: 50vh;
  width: 100vw;
}

#cityImage {
  object-fit: cover;
  height: 50vh;
  width: 100vw;
}

#elCamino {
  float: right;
  padding-top: 33vh;
  padding-right: 2vw;
  height: 12vh;
}
.choices {
  text-decoration: underline;
  cursor: pointer
}
.choices span:hover {
  background-color: #fff59b;
}
